<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.min.js"></script>


    <!-- js:js -->

    <!-- endinject -->

    <!-- css:css -->

    <!-- endinject -->

    <title>
        <%= title %>
    </title>
</head>

<body>
<div id='react-placeholder' data-react='<%=component%>'>html_placeholder</div>
<div id='react-side' data-react='<%=component%>'>html_placeholder</div>
<div id='react-loading' data-react='<%=component%>' style="display:none;">html_placeholder</div>
<div id='react-prompt' data-react='<%=component%>'>html_placeholder</div>
</body>

</html>