<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="//cdnjs.cloudflare.com/ajax/libs/webshim/1.15.10/dev/shims/matchMedia.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css"
    />
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css"
    />
    <!-- js:js -->

    <!-- endinject -->

    <!-- css:css -->
    
    <!-- endinject -->
    <title>
        <%= title %>
    </title>
</head>

<body>
    <div id='react-placeholder' data-react='<%=component%>'>html_placeholder</div>
    <div id='react-side' data-react='<%=component%>'>html_placeholder</div>
    <div id='react-loading' data-react='<%=component%>' style="display:none;">html_placeholder</div>
    <div id='react-prompt' data-react='<%=component%>'>html_placeholder</div>
</body>

</html>